@tailwind base;
@tailwind components;
@tailwind utilities;

.main-content {
    width: calc(100vw - 5rem);
    margin-left: auto;
    margin-top: 4.7rem;
}

.main-content-settings{
    width: calc(100vw - 5rem);
    margin-left: auto;
    margin-top: 1rem;
}


.top-bar{
    width: calc(100vw - 5rem);
    margin-left: auto;
}

.space-discovery{
    width: calc(100vw - 23rem);
    margin-left: auto;
}

.bg-auth {
    background-image: url('../../public/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-home {
    background-image: url('../../public/home_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}